body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
}
.container {
    width: 46%;
    overflow: hidden;
    display: block;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: #ffffff;
    position: relative;
    border-radius: 5px;
    border:2px solid black;
    border-top: 8px solid #b68707;
    box-shadow: 3px 2px 20px 6px rgba(255, 255, 255, 0.322);
    left: 25%;
    top: 30%;
    padding: 20px;

}
.title {
    font-size: 30px;
    font-weight:700;
    color: #b68707;
    text-align: center;
    margin-bottom: -10px;
}

.teachers {
    font-size: 18px;
    color: #333333;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.teachers label {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 21px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.teachers select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #7c787881;
    border-radius: 4px;
}
.teachers select:hover {
    border: 1px solid #b68707;
}
.mom {
    font-size: 18px;
    color: #333333;
    margin-bottom: 15px;
    display:flex;
    flex-direction:row;
    gap: 20px;
   
}
.days {
    font-size: 18px;
    color: #333333;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 47%;
    height: auto;
    
}
.days label {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 21px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.days select {
    padding: 8px;
    font-size: 15px;
    border: 1px solid #7c787881;
    border-radius: 4px;
}
.days select:hover {
    border: 1px solid #b68707;
}
.time {
    font-size: 18px;
    color: #333333;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 47%;
    height: auto;
}
.time label {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 21px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.time select {
    padding: 8px;
    font-size: 15px;
    border: 1px solid #7c787881;
    border-radius: 4px;
    margin-top: 4px;
    width: 100%;
}
.time select:hover {
    border: 1px solid #b68707;
}
.date {
    font-size: 18px;
    color: #333333;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45%;
    height: auto;
}
.date label {
    font-weight: bold;
    margin-bottom: 4px;
    font-size: 21px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.date input {
    padding: 8px;
    font-size: 15px;
    border: 1px solid #7c787881;
    border-radius: 4px;
}
.date input:hover {
    border: 1px solid #b68707;
}
.btn {
    background-color: #b68707;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
.btn:hover {
    background-color: #9c6e05;
}